/* body {
	background: url(img/12_col.gif) center top repeat-y;
	background-size: 90%;
    min-height: 90vh;
} */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

body {    
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

#body-container {
    width: 1200px;    
    background-color: #fefefe;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 
		"main main main main main main main main main main main main";
    row-gap: 1%;
}

nav {
    position: sticky;
    width: 100%;
    grid-area: nav;
    background-color: white;
    height: 70px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, blue, green, yellow, red) 100% 1;
    border-top:0;
    border-left:0;
    border-right:0;
    z-index: 999;
}



#navbar-hover {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 70px;
    top: 0px;
}

#navlinks {
    width: fit-content;
    margin: 0 auto;
}

#navlinks li {
    display: inline;
    margin: 0 30px;
    font-size: 20px;
    line-height: 70px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#navlinks li a {
    text-decoration: none;
    color: black;
}

#navlinks li a:hover {
    color: red;
}

#hamburger-menu-mobile {
    display: none;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
  }

.btn:hover {
  color: red;
} 
  /* Style the active class (and buttons on mouse-over) */
.active {
    border-bottom: 2px solid black;
}

.dropbtn {
    position: absolute;
    height: 22px;
    top: 22px;
    left: 250px;
    background-color: transparent;
    border: none;
}
  
.dropdown {
    position: relative;
}
  
#dropdown-content {
    display: none;
    position: absolute;
    top: 44px;
    left: 250px;
    background-color: white;
    width: 300px;
    min-width: 160px;
    z-index: 1;
}

#dropdown-content a {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {
    color: red;
}
  
.dropdown:hover #dropdown-content {display: block;}

.dropdown ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.dropdown li {
    display: inline;
    margin: 0 5px;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#logotext {
    position: absolute;
    top: -5px;
    left: 325px;
    line-height: 70px;
    margin: 0;
}

#search-container {
    position: absolute;
    top: 16px;
    right: 10%;
}

form input {
    border: 1px solid gray;
    border-radius: 10px;
    height: 30px;
    padding-left: 5px;
    outline: none;
}

#searchimg {
    position: relative;
    top: 5px;
    height: 24px;
}

#non-menu {
    width: 100%;
    height: fit-content;
}

main {
    grid-area: main;
    
}
main a {
    text-decoration: none;
}
main a:hover{
    color:red;
}

#mainHead {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(20px, 350px);
    grid-template-areas:
        "left left left left center center center right right";
}

#mainHead img {
    width: 100%;
    height: 100%;
}
#mainHeadLeft {
    grid-area: left;
    padding: 3% 2% 0 2%;
    box-sizing: border-box;
}
#mainHeadCenter {
    grid-area: center;
    padding: 0 2% 0 0;
}


#mHC1, #mHC2, #mHC3, #mHC4, #mHC5{
    border-bottom: 2px solid #f1f1f1;
}
#mainHeadRight {
    grid-area: right;
    margin-top: 2%;
    margin-right: 4%;
    padding: 5%;
    border: 2px solid #f1f1f1;
}
.slideImages {    
    display: none;  
}
#slideInit {
    display: block;
}
.slideImages img {
    width: 100%;
    height: 100px;   
}
#firstAddContainer {
    margin: 30px auto 0px auto;
    width: 98%;
    height: 100px;
}

#advertisement {
    text-align: center;
    font-size: 10px;
    color:black;
    margin: 0 auto;
  }

#financeSection{
    background-color: rgba(25, 181, 254, 0.1);
    background-image: linear-gradient(rgba(25, 181, 254, 0.1), #fefefe);
}
#sportSection{
    background-color: rgba(248, 203, 125, 0.815);
    background-image: linear-gradient( rgba(250, 189, 132, 0.1), #fefefe);

}
#sportSection h1, #financeSection h1{
    font-size: 16px;
    text-align: end;
    margin-bottom: 0px;
    margin-right: 15px;
    padding-top: 1px;
   
}

.mainCenter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 330px;
    grid-template-areas:
        "first second third";
    margin: 0px 0px 15px 0;
    padding: 1% 1%;
    grid-column-gap: 5%;
    grid-row-gap: 10px;
    box-sizing: border-box;
}



.mainCenter img {
    width: 100%;
    height: 70%;
}



#mainFirstRow{
    grid-area: first;
    display: flex;
    flex-direction: column;
}

#mainSecondRow{
    grid-area: second;
    display: flex;
    flex-direction: column;
}
#mainThirdRow {
    grid-area: third;
    display: flex;
    flex-direction: column;
}

#mainBellow{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas:
        "left left center center right right right right right"
        "left left center center right right right right right";
    margin: 15px 0px;
    margin-bottom: 50px;
    padding: 1% 1%;
    grid-column-gap: 5%;
    grid-row-gap: 10px;
}
#mainBellow1{
    grid-area: left;
}
#mainBellow2{
    grid-area: center;
}
#mainBellow3{
    grid-area: right;  
    position: relative;
    box-sizing: border-box;
}

#mainBellow img {
    width: 100%;
    height: 50%;
}

#mainBellow3 img{
    width: 100%;
    height: 100%;
}


#bSlideInit {
    display: block;
}

.bSlideImages{
    display: none;
    height: 100%;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}
.next{
    right: 0;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);    
    color: #fefefe;
}

.textInside{
    color: #fefefe;
    font-size: 22px;
    padding: 8px 25px;
    position: absolute;
    bottom: 8px;
    width: 580px;
    text-align: start;
}

.textInside:hover{
    cursor: pointer;
}

.numberText{
    color: #fefefe;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

#mainLast{
    grid-template-rows: 400px;
  
}


footer {
    width: 100%;
    background-color: rgb(51, 51, 51);
    height: fit-content;
    position: relative;
    bottom: 0px;
}

footer div {
    margin: 40px 5vw 40px 0;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer a {
    color: white;
}

.footersection {
    width: 80%;
    margin: 0 auto;
}

#top-footer {
    height: 30px;
}

#top-footer img {
    height: 22px;
    margin: 10px 5px 10px 0;
}

#middle-footer {
    height: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
}

#bottom-footer {
    height: 50px;
    text-align: center;
    color: rgb(172, 172, 172);
}

.bottomlinks {
    width: fit-content;
    margin: 0;
}


@media screen and (max-width: 1600px) {
    #navlinks {
        position: absolute;
        left: 230px;
        width: 560px;
    }
    .dropbtn, #dropdown-content {
        left: 10px;
    }
    #logotext {
        left: 70px;
    }
    #navlinks li {
        margin: auto 5px;
    }
}


@media screen and (max-width: 1200px) {
    #mainHeadRight{
        display: none;
    }
    #firstAddContainer {
        width: 900px;
    }

    #mainHead {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: minmax(20px, 350px);
        grid-template-areas:
            "left left left left center center center center center";
    }

    .mainCenter{
        grid-template-rows: 300px;
    }

    #body-container {
        width: 900px; 
    }

    .textInside{
        width: 430px;
    }

    .mBextraText{
        display: none;
    }
}


@media screen and (max-width: 1131px) {
    #navlinks li {
        line-height: 30px;
    }
    #search-container {
        top: 30px;
        right: 2%;
    }
}

@media screen and (max-width: 900px) {
    #body-container {
        width: 100%; 
    }
    #firstAddContainer {
        width: 100%;
    }

    .textInside{
        width: 350px;
    }    
  
}

@media screen and (max-width: 785px) {
    #navlinks {
        display: none;
    }
    #search-container {
        top: 16px;
    }

    #mainHeadLeft{
        display: none;
    }

    #mainHead {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(20px, 370px);
        grid-template-areas:
            "center";
    }

    #mainHeadCenter{
        font-size: 19px;
        
        padding-left: 5px;
    }

    .mainCenter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px;
        grid-template-areas:
            "first second"
            "third third";
    }

    
    #mainBellow{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "left left left center center center"
            "right right right right right right";
        grid-template-rows: 350px 300px;
        margin: 15px 0px;
        margin-bottom: 50px;
        padding: 1% 1%;
        grid-column-gap: 5%;
        grid-row-gap: 5px;
    }

    .textInside{
        font-size: 20px;
        width: 90%;
    }

    #mainThirdRow img{
        height: 300px;
    }
    
    


}

@media screen and (max-width: 600px) {
    

    #mainHeadLeft{
        display: block;
    }

    #mainHead {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
        grid-template-areas:
            "left"
            "center";
    }

    #mainHeadCenter{
        font-size: 19px;
    }

    .mainCenter {
        grid-template-rows: 300px;
        grid-row-gap: 50px;
    

}

@media screen and (max-width: 468px) {
    form input {
        display: none;
    }
    #search-container:hover form input {
        display: block;
        position: absolute;
        right: 10px;
        top: 22px;
    }

    #mainHead {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 350px 480px;
        grid-template-areas:
            "left"
            "center";
    }

    .mainCenter {
        grid-row-gap: 130px;
        grid-template-rows: 175px 300px;
        grid-template-areas:
            "first second"
            "third third";
        margin-bottom: 110px;
    }

    #mainBellow{
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "left left left center center center"
            "right right right right right right";
        grid-template-rows: 300px 350px;
        grid-row-gap: 70px;
    }

    #mainLast{
        grid-template-rows: 300px 300px;
        grid-row-gap: 95px;
        margin-bottom: 150px;

    }
}