/* body {
	background: url(img/12_col.gif) center top repeat-y;
	background-size: 90%;
    min-height: 90vh;
} */

body {
    height: 130vh; /* test, ta bort sen */
}

#body-container {
    width: 1200px;    
    background-color: lightgray;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas: 
		"main main main main main main main main main main main main"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
    row-gap: 1%;
}

main, footer {
    border: 2px solid black;
}

nav {
    position: fixed;
    width: 100%;
    grid-area: nav;
    background-color: white;
    height: 70px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, blue, green, yellow, red) 100% 1;
    border-top:0;
    border-left:0;
    border-right:0;
}

#navbar-hover {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 70px;
    top: 0px;
}

#navlinks {
    width: fit-content;
    display: block;
    margin: 0 auto;
}

#navlinks li {
    display: inline;
    margin: 0 30px;
    font-size: 20px;
    line-height: 70px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#navlinks li a {
    text-decoration: none;
    color: black;
}

#navlinks li a:hover {
    color: gray;
}

#non-menu {
    height: 100%;
    width: 100%;
}

main {
    grid-area: main;
}

#mainhead{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
        "left left center right"
        "left left center right"
        "left left center right";
    align-items: stretch;
}

#mainhead img{
    width: 100%;
}

#mainheadleft{
    grid-area: left;
}
#mainheadcenter{
    grid-area: center;
}
#mainheadright{
    grid-area: right;
}

footer {
    grid-area: footer;
}

/* @media screen and (max-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 960px) {


} */